{% extends 'base.html' %}

{% block title %}Page des Professeurs{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#rubrique1">Vms disponibles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#rubrique2">VMs extérieures</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#rubrique3">Comptes</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="tab-content">
        <div class="tab-pane active" id="rubrique1">
            <h1 class="text-left">Machines virtuelles disponibles</h1>
            <div class="mt-4">
                <div class="cards d-flex justify-content-start">
                    {% for template in templates %}
                        <div class="card">
                            <div class="card-body bg-dark text-white">
                                <h5 class="card-title">{{ template.name }}</h5>
                                {% if template.description %}
                                    <p class="card-text">{{ template.description }}</p>
                                {% endif %}
                                <form method="post">
                                    <input type="hidden" name="template_name" value="{{ template.name }}">
                                    <input type="hidden" name="template_id" value="{{ template.id }}">
                                    <button type="submit" name="create_start_vm" class="btn btn-info">Démarrer</button>
                                </form>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="tab-pane" id="rubrique2">
            <h1 class="text-left">Machines virtuelles créées pour les étudiants hors-INSA</h1>
            <div class="mt-4">
                <div class="cards d-flex justify-content-start">
                    {% for vm in vms %}
                        <form method="post">
                            <div class="card">
                                <div class="card-body bg-dark text-white">
                                    <input type="hidden" name="vm_name" value="{{ vm.name }}">
                                    <h5 class="card-title">{{ vm.name }}</h5>
                                    <p class="card-text">depuis le <b>{{ vm.template }}</b> template</p>
                                    <p>appartient à: <b>{{ vm.user.name }}</b></p>
                                </div>
                                <button type="submit" name="delete_vm" class="btn btn-danger">Supprimer</button>
                            </div>
                        </form>
                    {% endfor %}
                    <div class="card" id="addVMOutCard" style="width: 18rem;">
                        <div class="card-body bg-info text-white">
                            <h5 class="card-title text-center">Créer</h5>
                            <p class="card-text" style="font-size: 36px; text-align: center;"><b>+</b></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane" id="rubrique3">
            <h1 class="text-left">Comptes utilisateurs créés</h1>
            <div class="mt-4">
                <div class="cards d-flex justify-content-start">
                    {% for user in users %}
                        <form method="post">
                            <div class="card">
                                <div class="card-body bg-dark text-white">
                                    <input type="hidden" name="username" value="{{ user.username }}">
                                    <h5 class="card-title">{{ user.username }}</h5>
                                    <p class="card-text">contact: <b>{{ user.email }}</b></p>
                                    <button type="button" class="btn btn-info edit-user-button" data-user-id="{{ user.id }}">Modifier mot de passe</button>                            
                                </div>
                                <button type="submit" name="delete_user" class="btn btn-danger">Supprimer</button>
                            </div>
                        </form>
                    {% endfor %}
                    <div class="card" id="addUserCard" style="width: 18rem;">
                        <div class="card-body bg-info text-white">
                            <h5 class="card-title text-center">Créer</h5>
                            <p class="card-text" style="font-size: 36px; text-align: center;"><b>+</b></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Modal de modification de mot de passe -->
    <div class="modal fade" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="editUserModalLabel" aria-hidden="true">
        <!-- Le reste du contenu du modal -->
    </div>

    <!-- Modal de création de VM -->
    <div class="modal fade" id="createVmModal" tabindex="-1" role="dialog" aria-labelledby="createVmModalLabel" aria-hidden="true">
        <!-- Le reste du contenu du modal -->
    </div>

    <!-- Modal de création de User -->
    <div class="modal fade" id="createUserModal" tabindex="-1" role="dialog" aria-labelledby="createUserModalLabel" aria-hidden="true">
        <!-- Le reste du contenu du modal -->
    </div>

    <script>
        $(document).ready(function () {
            $('#addVMOutCard').on('click', function () {
                $("#createVmModal").modal("show");
            });
            $('#addUserCard').on('click', function () {
                $("#createUserModal").modal("show");
            });
        });
    </script>
{% endblock %}
