{% extends 'base.html' %}

{% block title %}Page des Étudiants{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#rubrique1">Machines virtuelles disponibles</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="tab-content">
        <div class="tab-pane active" id="rubrique1">
            <h1 class="text-left">Machines virtuelles disponibles</h1>
            <div class="mt-4">
                <div class="cards d-flex justify-content-start">
                    {% for template in templates %}
                        <div class="card">
                            <div class="card-body bg-dark text-white">
                                <form method="post">
                                    <input type="hidden" name="template_name" value="{{ template.name }}">
                                    <input type="hidden" name="template_id" value="{{ template.id }}">
                                    <h5 class="card-title">{{ template.name }}</h5>
                                    {% if template.description %}
                                        <p class="card-text">{{ template.description }}</p>
                                    {% endif %}
                                    <button type="submit" name="create_start_vm" class="btn btn-info">Démarrer</button>
                                </form>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <hr>
{% endblock %}
