<!DOCTYPE html>
<html>
<head>
    <title>Tableau de bord</title>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">Accueil</a>
            <a class="navbar-brand ml-auto" href="/login">Connexion</a>
        </div>
    </nav>
    <h2>Bienvenue, {{ user.username }}</h2>
    <h3>Liste de vos machines virtuelles :</h3>
    <ul>
        {% for vm in vms %}
            <li>{{ vm.name }}</li>
        {% endfor %}
    </ul>
    <a href="{% url 'create_vm' %}">Créer une machine virtuelle</a><br><br>
    <a href="{% url 'logout' %}">Se déconnecter</a>
</body>
</html>
