{% extends 'base.html' %}

{% block title %}Page d'Administration{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#rubrique1">VMs actives</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#rubrique2">Comptes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#rubrique3">Templates</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Modal de création de User -->
    <div class="modal fade" id="createUserModal" tabindex="-1" role="dialog" aria-labelledby="createUserModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-dark text-white">
                    <h5 class="modal-title" id="createUserModalLabel">Créer utilisateur</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body bg-dark text-white">
                    <form method="post">
                        <div class="form-group">
                            <label for="firstname">Prénom de l'utilisateur :</label>
                            <input type="text" class="form-control" id="firstname" name="firstname" required>
                        </div>
                        <div class="form-group">
                            <label for="lastname">Nom de l'utilisateur :</label>
                            <input type="text" class="form-control" id="lastname" name="lastname" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Adresse électronique :</label>
                            <input type="text" class="form-control" id="email" name="email" required>
                        </div>
                        <button type="submit" name="create_user" class="btn btn-info">Créer utilisateur</button>
                    </form>
                </div>                
            </div>
        </div>
    </div>

    <div class="tab-content">

        <div class="tab-pane" id="rubrique1">
            <h1 class="text-left">Liste des VMs actives</h1>
            <div class="mt-4">
                <div id="vms-div" class="cards d-flex justify-content-start"></div>
            </div>
        </div>

        <div class="tab-pane" id="rubrique2">
            <h1 class="text-left">Comptes utilisateurs</h1>
            <div class="mt-4">
                <table class="table" id="users-table">
                    <thead>
                        <tr>
                            <th>Prénom</th>
                            <th>Nom</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                </table>
            <hr>
            </div>
            <div class="mt-4">
                <div id="create-user-div" class="cards d-flex justify-content-start"></div>
            </div>
        </div>

        <div class="tab-pane" id="rubrique3">
            <h1 class="text-left">Templates de VMs</h1>
            <div class="mt-4">
                <div id="templates-div" class="cards d-flex justify-content-start"></div>
            </div>
        </div>
    </div>

    <hr>

    <script>
        function showLoadingCardModal(id) {
            $("#" + id + "-loading-modal").css("display", "block");
        }

        function hideLoadingCardModal(id) {
            $("#" + id + "-loading-modal").css("display", "none");
        }

        function createLdsDefaultContainer(id) {
            var ldsDefaultContainer = $('<div>').addClass('lds-default-container');
            var ldsDefaultSpinner = createLdsDefaultSpinner(id);
            ldsDefaultContainer.append(ldsDefaultSpinner);
            return ldsDefaultContainer;
        }

        function createLdsDefaultSpinner(id) {
            var ldsDefaultSpinner = $('<div>').addClass('lds-default').attr('id', id + '-loading-modal');
            for (var i = 0; i < 12; i++) {
                var childDiv = $('<div>');
                ldsDefaultSpinner.append(childDiv);
            }
            return ldsDefaultSpinner;
        }

        function checkIfVmAlive(id) {
            return new Promise(function (resolve, reject) {
                showLoadingCardModal(id);   
                $.ajax({
                    type: 'GET',
                    url: 'https://api.insa-cvl.com/vm/status/template/' + id,
                    contentType: 'application/json;charset=UTF-8',
                    xhrFields: {
                        withCredentials: true
                    },
                    success: function (response) {
                        console.log("VM: " + id + ": STATE: " + response.vm_state + " STATUS: " + response.status);
                        if (response.vm_state == "1" && response.status == "ACTIVE") {
                            hideLoadingCardModal(id);
                            resolve(1); 
                        } else {
                            hideLoadingCardModal(id);
                            resolve(0);
                        }
                    },
                    error: function (error) {
                        reject("Erreur d'obtention d'informations de la VM");
                    }
                });
            });
        }

        async function deleteVm(id) {
            try {
                var output = await checkIfVmAlive(id);
                if (output == 1) {
                    showLoadingModal();
                    $.ajax({
                        type: 'DELETE',
                        url: 'https://api.insa-cvl.com/vm/delete_admin',
                        contentType: 'application/json;charset=UTF-8',
                        data: JSON.stringify({ template_id: id }),
                        xhrFields: {
                            withCredentials: true
                        },
                        success: function (response) {
                            hideLoadingModal();
                            location.reload();
                        },
                        error: function (error) {
                            alert('Erreur de suppression de la VM');
                            hideLoadingModal(); 
                        }
                    });
                }
            } catch (error) {
                alert(error);
                hideLoadingModal(); 
            }
        }
        
        function getVms() {
            $.ajax({
                type: 'GET',
                url: 'https://api.insa-cvl.com/vm',
                contentType: 'application/json;charset=UTF-8',
                xhrFields: {
                    withCredentials: true
                },
                success: function (response) {
                    var vms = response;
                    console.log(vms);
                    vmsDiv = $('#vms-div');
                    vms.forEach(addVMToDOM);
                },
                error: function (error) {
                    alert('Erreur d\'obtention d\'informations d\'users');
                }
            });
        }

        function addVMToDOM(vm) {
            var vmCard = createVmCard(vm);
            vmsDiv.append(vmCard);
        }

        function createVmForm(vm) {
            var form = $('<form>').attr({
                method: 'post',
                id: 'vmForm'
            });
            form.append(
                $('<input>').attr({
                    type: 'hidden',
                    name: 'vm_id',
                    value: vm.id
                }),
                $('<h5>').addClass('card-title').text('Nom: ' + vm.name),
                $('<p>').addClass('card-text').text('Template ID: ' + vm.template_id),
                $('<p>').addClass('card-text').text('User ID: ' + vm.users_id),
                $('<p>').addClass('card-text').text('Date de création: ' + vm.creationDate),
                $('<button>').addClass('btn btn-danger').text('Supprimer').on('click', function () {
                    // deleteVm(vm.id);
                    console.log('suppression de la VM ' + vm.id);
                })
            );
            return form;
        }

        function createVmCard(vm) {
            var vmCard = $('<div>').addClass('card').attr('id', vm.id);
            var cardBody = createVmCardBody(vm);
            vmCard.append(cardBody);
            return vmCard;
        }

        function createVmCardBody(vm) {
            var cardBody = $('<div>').addClass('card-body bg-dark text-white');
            var form = createVmForm(vm);
            var ldsDefaultContainer = createLdsDefaultContainer(vm.id);
            cardBody.append(form, ldsDefaultContainer);
            return cardBody;
        }

        function getUsers() {
            $.ajax({
                type: 'GET',
                url: 'https://api.insa-cvl.com/users',
                contentType: 'application/json;charset=UTF-8',
                xhrFields: {
                    withCredentials: true
                },
                success: function (response) {
                    var users = response;
                    usersDiv = $('#users-div');
                    users.forEach(addUserToTable);
                },
                error: function (error) {
                    alert('Erreur d\'obtention d\'informations d\'users');
                }
            });
        }

        function addUserToTable(user) {
            var row = $('<tr>');
            row.append('<td>' + user.first_name + '</td>');
            row.append('<td>' + user.last_name + '</td>');
            row.append('<td>' + user.email + '</td>');

            $('#users-table').append(row);
        }
        
        function addTemplateToDOM(template) {
            var templateCard = createTemplateCard(template);
            templatesDiv.append(templateCard);
        }

        function createTemplateForm(template) {
            var form = $('<form>').attr({
                method: 'post',
                id: 'templateForm'
            });
            form.append(
                $('<input>').attr({
                    type: 'hidden',
                    name: 'template_name',
                    value: template.name
                }),
                $('<input>').attr({
                    type: 'hidden',
                    name: 'template_id',
                    value: template.id
                }),
                $('<h5>').addClass('card-title').text(template.name),
                template.description ? $('<p>').addClass('card-text').text(template.description) : null,
            );
            return form;
        }

        function createTemplateCard(template) {
            var templateCard = $('<div>').addClass('card').attr('id', template.id);
            var cardBody = createTemplateCardBody(template);
            templateCard.append(cardBody);
            return templateCard;
        }

        function createTemplateCardBody(template) {
            var cardBody = $('<div>').addClass('card-body bg-dark text-white');
            var form = createTemplateForm(template);
            cardBody.append(form);
            return cardBody;
        }

        $(document).ready(function () {
            getVms();
            getTemplates();
            getUsers();
            $('#addTemplateCard').on('click', function () {
                $("#createTemplateModal").modal("show");
            });
        });
    </script>
{% endblock %}
