{% extends 'base.html' %}

{% block title %}Page d'Administration{% endblock %}

{% block content %}
    <h1 class="text-left mt-4">Templates de machines virtuelles créés</h1>

    <div class="mt-4">
        <div class="cards d-flex justify-content-start">
            {% for template in templates %}
                <div class="card">
                    <div class="card-body bg-dark text-white">
                        <h5 class="card-title">{{ template.name }}</h5>
                        {% if template.description %}
                            <p class="card-text">{{ template.description }}</p>
                        {% endif %}
                        <form method="post">
                            <input type="hidden" name="template_name" value="{{ template.name }}">
                            <input type="hidden" name="template_id" value="{{ template.id }}">
                            <button type="submit" name="create_start_vm" class="btn btn-info">Démarrer</button>
                            <button type="submit" name="delete_template" class="btn btn-danger">Supprimer</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
            <div class="card" id="addTemplateCard" style="width: 18rem;">
                <div class="card-body bg-info text-white">
                    <h5 class="card-title text-center">Créer</h5>
                    <p class="card-text" style="font-size: 36px; text-align: center;"><b>+</b></p>
                </div>
            </div> 
        </div>
    </div>

    <hr>

    <!-- Modal de création de Template -->
    <div class="modal fade" id="createTemplateModal" tabindex="-1" role="dialog" aria-labelledby="createTemplateModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-dark text-white">
                    <h5 class="modal-title" id="createTemplateModalLabel">Créer Template</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body bg-dark text-white">
                    <form method="post" action="">
                        <div class="form-group">
                            <label for="template_name">Nom du Template :</label>
                            <input type="text" class="form-control" id="template_name" name="template_name" required>
                        </div>
                        <div class="form-group">
                            <label for="template_description">Description du Template :</label>
                            <textarea class="form-control" id="template_description" name="template_description"></textarea>
                        </div>
                        <button type="submit" name="create_template" class="btn btn-info">Créer Template</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('#addTemplateCard').on('click', function () {
                $("#createTemplateModal").modal("show");
            });
        });
    </script>
{% endblock %}
