{% extends 'base.html' %}

{% block title %}VDI - Dashboard{% endblock %}

{% block navbar %}

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#rubrique1">VMs</a>
    </li>
</ul>

{% endblock %}

<script src="{{ url_for('static', filename='js/base.js' ) }}"></script>
<script src="{{ url_for('static', filename='js/dashboard.js' ) }}"></script>

{% block content %}

    <script>
        $(document).ready(function () {
            getTemplates();
        });
    </script>

    <div class="tab-content">
        <div class="tab-pane fade show active" id="rubrique1">
            <blockquote class="blockquote text-center">
                <h1 class="mt-3 mb-0">VMs</h1>
                <p><i>Machines virtuelles que vous pouvez utiliser</i></p>
            </blockquote>
            <div class="mt-4">
                <div id="templates-div" class="cards d-flex justify-content-center"></div>
            </div>
        </div>
    </div>
{% endblock %}