{% extends 'base.html' %}

{% block title %}VDI - Dashboard{% endblock %}

{% block content %}

    <script>
        function checkIfVmAlive(templateId) {
            return new Promise(function (resolve, reject) {
                showLoadingCardModal(templateId);   
                $.ajax({
                    type: 'GET',
                    url: 'https://api.insa-cvl.com/vm/status/template/' + templateId,
                    contentType: 'application/json;charset=UTF-8',
                    xhrFields: {
                        withCredentials: true
                    },
                    success: function (response) {
                        if (response.vm_state == "1" && response.status == "ACTIVE") {
                            hideLoadingCardModal(templateId);
                            resolve(1); 
                        } else {
                            hideLoadingCardModal(templateId);
                            resolve(0);
                        }
                    },
                    error: function (error) {
                        reject("Erreur d'obtention d'informations de la VM");
                    }
                });
            });
        }

        async function openVm(templateId) {
            try {
                var output = await checkIfVmAlive(templateId);
                if (output == 1) {
                    redirectToVmViewer(templateId);
                }
            } catch (error) {
                alert(error);
            }
        }

        async function deleteVm(templateId) {
            try {
                var output = await checkIfVmAlive(templateId);
                if (output == 1) {
                    showLoadingModal();
                    $.ajax({
                        type: 'DELETE',
                        url: 'https://api.insa-cvl.com/vm/delete',
                        contentType: 'application/json;charset=UTF-8',
                        data: JSON.stringify({ template_id: templateId }),
                        xhrFields: {
                            withCredentials: true
                        },
                        success: function (response) {
                            hideLoadingModal();
                            location.reload();
                        },
                        error: function (error) {
                            alert('Erreur de suppression de la VM');
                            hideLoadingModal(); 
                        }
                    });
                }
            } catch (error) {
                alert(error);
                hideLoadingModal(); 
            }
        }

        function showLoadingCardModal(templateId) {
            $("#" + templateId + "-loading-modal").css("display", "block");
        }

        function hideLoadingCardModal(templateId) {
            $("#" + templateId + "-loading-modal").css("display", "none");
        }

        async function getVmStatus(templateId) {
            try {
                var output = await checkIfVmAlive(templateId);
                updateButtons(templateId, output);
            } catch (error) {
                alert(error);
            }
        }

        function updateButtons(templateId, isVmAlive) {
            var templateCard = $('#' + templateId);

            templateCard.find("#start_vm_btn, #open_vm_btn, #delete_vm_btn").remove();

            var cardBody = templateCard.find(".card-body");

            if (isVmAlive == 1) {
                var openVmBtn = $('<button>').attr({
                    'id': 'open_vm_btn',
                    'type': 'button',
                    'class': 'btn btn-success'
                }).on('click', function () {
                    openVm(templateId);
                }).text('Ouvrir');

                var deleteBtn = $('<button>').attr({
                    'id': 'delete_vm_btn',
                    'type': 'button',
                    'class': 'btn btn-danger'
                }).on('click', function () {
                    deleteVm(templateId);
                }).text('Supprimer');

                cardBody.append(openVmBtn, $('<div>').css('margin-top', '10px'), deleteBtn);
            } else {
                var startVmBtn = $('<button>').attr({
                    'id': 'start_vm_btn',
                    'type': 'button',
                    'class': 'btn btn-info'
                }).on('click', function () {
                    createVmFromTemplate(templateId);
                }).text('Démarrer');

                cardBody.append(startVmBtn);
            }
        }

        async function createVmFromTemplate(templateId) {
            showLoadingModal(); 
            $.ajax({
                type: 'POST',
                url: 'https://api.insa-cvl.com/vm/create',
                contentType: 'application/json;charset=UTF-8',
                data: JSON.stringify({ template_id: templateId }),
                xhrFields: {
                    withCredentials: true
                },
                success: async function (response) {
                    try {
                        var output = await checkIfVmAlive(templateId);
                        while (output !== 1) {
                            await new Promise(resolve => setTimeout(resolve, 1000));
                            output = await checkIfVmAlive(templateId);
                        }
                    } catch (error) {
                        alert(error);
                        hideLoadingModal(); 
                    }
                    hideLoadingModal(); 
                    location.reload();
                },
                error: function (error) {
                    alert('Erreur de création de la VM');
                    hideLoadingModal(); 
                }
            });
        }

        function redirectToVmViewer(templateId) {
            showLoadingModal();
            $.ajax({
                type: 'GET',
                url: 'https://api.insa-cvl.com/vm/url/template/' + templateId,
                contentType: 'application/json;charset=UTF-8',
                xhrFields: {
                    withCredentials: true
                },
                success: function (response) {
                    hideLoadingModal();
                    var vncUrl = response.url;
                    window.location = "/viewer?vncUrl=" + encodeURIComponent(vncUrl);
                },
                error: function (error) {
                    alert('Erreur de d\'ouverture de la VM');
                    hideLoadingModal(); 
                }
            })
        }

        function createTemplateCard(template) {
            var templateCard = $('<div>').addClass('card').attr('id', template.id);
            var cardBody = createCardBody(template);
            templateCard.append(cardBody);
            return templateCard;
        }

        function createCardBody(template) {
            var cardBody = $('<div>').addClass('card-body bg-dark text-white');
            var form = createForm(template);
            var ldsDefaultContainer = createLdsDefaultContainer(template.id);
            cardBody.append(form, ldsDefaultContainer);
            return cardBody;
        }

        function createForm(template) {
            var form = $('<form>').attr({
                method: 'post',
                id: 'templateForm'
            });
            form.append(
                $('<input>').attr({
                    type: 'hidden',
                    name: 'template_name',
                    value: template.name
                }),
                $('<input>').attr({
                    type: 'hidden',
                    name: 'template_id',
                    value: template.id
                }),
                $('<h5>').addClass('card-title').text(template.name),
                template.description ? $('<p>').addClass('card-text').text(template.description) : null,
                $('<button>').attr({
                    id: 'start_vm_btn',
                    type: 'button',
                    class: 'btn btn-info'
                }).on('click', function () {
                    createVmFromTemplate(template.id);
                }).text('Démarrer')
            );
            return form;
        }

        function createLdsDefaultContainer(templateId) {
            var ldsDefaultContainer = $('<div>').addClass('lds-default-container');
            var ldsDefaultSpinner = createLdsDefaultSpinner(templateId);
            ldsDefaultContainer.append(ldsDefaultSpinner);
            return ldsDefaultContainer;
        }

        function createLdsDefaultSpinner(templateId) {
            var ldsDefaultSpinner = $('<div>').addClass('lds-default').attr('id', templateId + '-loading-modal');
            for (var i = 0; i < 12; i++) {
                var childDiv = $('<div>');
                ldsDefaultSpinner.append(childDiv);
            }
            return ldsDefaultSpinner;
        }

        function addTemplateToDOM(template) {
            var templateCard = createTemplateCard(template);
            templatesDiv.append(templateCard);
            getVmStatus(template.id);
        }

        $(document).ready(function () {
            getTemplates();
        });
    </script>

    <div class="d-flex flex-column flex-shrink-0 bg-dark" style="width: 4.5rem;">
        <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
            <li class="nav-item">
                <a href="#" class="nav-link active py-3 border-bottom" aria-current="page" title="Home" data-bs-toggle="tooltip" data-bs-placement="right">
                <svg class="bi" width="24" height="24" role="img" aria-label="Machines virtuelles disponibles"><use xlink:href="#home"/></svg>
                </a>
            </li>
            <li>
                <a href="#" class="nav-link py-3 border-bottom" title="Dashboard" data-bs-toggle="tooltip" data-bs-placement="right">
                <svg class="bi" width="24" height="24" role="img" aria-label="Dashboard"><use xlink:href="#speedometer2"/></svg>
                </a>
            </li>
            <li>
                <a href="#" class="nav-link py-3 border-bottom" title="Orders" data-bs-toggle="tooltip" data-bs-placement="right">
                <svg class="bi" width="24" height="24" role="img" aria-label="Orders"><use xlink:href="#table"/></svg>
                </a>
            </li>
        </ul>
        <div class="dropdown border-top">
        <a href="#" class="d-flex align-items-center justify-content-center p-3 link-dark text-decoration-none">
            <img src="{{ url_for('static', filename='icons/insa.png' ) }}" alt="INSA Centre Val de Loire" width="24" height="24" class="rounded-circle">
        </a>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#rubrique1">Machines virtuelles disponibles</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="tab-content">
        <div class="tab-pane active" id="rubrique1">
            <div class="mt-4">
                <div id="templates-div" class="cards d-flex justify-content-start"></div>
            </div>
        </div>
    </div>

    <hr>
{% endblock %}
