{% extends 'base.html' %}

{% block title %}VDI - Professeur{% endblock %}

{% block navbar %}

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#rubrique1">VMs actives</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#rubrique2">Comptes</a>
    </li>
</ul>

{% endblock %}

{% block content %}
    <div class="tab-content">

        <div class="tab-pane active" id="rubrique1">
            <h1 class="text-left">Machines virtuelles actives de vos utilisateurs</h1>
            <div class="mt-4">
                <div id="vms-div" class="cards d-flex justify-content-start"></div>
            </div>
        </div>

        <div class="tab-pane" id="rubrique2">
            <h1 class="text-left">Comptes utilisateurs externes</h1>
            <div class="mt-4">
                <table class="table" id="users-table">
                    <thead>
                        <tr>
                            <th>Prénom</th>
                            <th>Nom</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="text-center">
                <button id="addUserButton" type="button" class="btn btn-light"> 
                    Ajouter un utilisateur <i class="bi bi-plus-circle"></i>
                </button>
            </div>
        </div>
    </div>
    <script>
        async function deleteVmProf(id) {
            try {
                var output = await checkIfVmAliveAdmin(id);
                if (output == 1) {
                    showLoadingModal();
                    $.ajax({
                        type: 'DELETE',
                        url: 'https://api.insa-cvl.com/vm/delete_admin',
                        contentType: 'application/json;charset=UTF-8',
                        data: JSON.stringify({ vm_id: id }),
                        xhrFields: {
                            withCredentials: true
                        },
                        success: function (response) {
                            hideLoadingModal();
                            location.reload();
                        },
                        error: function (error) {
                            alert('Erreur de suppression de la VM');
                            hideLoadingModal(); 
                        }
                    });
                }
            } catch (error) {
                alert(error);
                hideLoadingModal(); 
            }
        }

        function getVms() {
            $.ajax({
                type: 'GET',
                url: 'https://api.insa-cvl.com/myvmsusers',
                contentType: 'application/json;charset=UTF-8',
                xhrFields: {
                    withCredentials: true
                },
                success: function (response) {
                    var vms = response;
                    vmsDiv = $('#vms-div');
                    vms.forEach(addVMToDOM);
                },
                error: function (error) {
                    alert('Erreur d\'obtention d\'informations des VMs des users');
                }
            });
        }

        function addVMToDOM(vm) {
            var vmCard = createVmCard(vm);
            vmsDiv.append(vmCard);
        }
        
        function createVmForm(vm) {  
            var infoContainer = $('<div>').addClass('card-body bg-secondary text-center');
            var icon = $('<i>').addClass('bi bi-pc-display');
            var img = $('<div>').addClass('text-center').append(icon);
            var cardBody = $('<div>').addClass('card-body');
            var cardTitle = $('<h5>').addClass('card-title').html('Nom: <em>' + vm.template_name + "</em>");
            var cardText1 = $('<p>').addClass('card-text').html('Propriétaire: <em>' + vm.first_name + ' ' + vm.last_name + "</em>");
            var listGroup = $('<ul>').addClass('list-group list-group-flush');
            var listItems = [
                $('<li>').addClass('list-group-item bg-secondary').html('Template ID: <em>' + vm.template_id + "</em>"),
                $('<li>').addClass('list-group-item bg-secondary').html('User ID: <em>' + vm.users_id + "</em>"),
                $('<li>').addClass('list-group-item bg-secondary').html('Date de création: <em>' + vm.creationDate + "</em>")
            ];

            var cardBody2 = $('<div>').addClass('card-body');
            var cardLink1 = $('<button>').addClass('btn btn-danger').text('Supprimer').on('click', function () {
                deleteVmAdmin(vm.id);
            });

            listGroup.append(listItems);
            cardBody2.append(cardLink1);
            cardBody.append(cardTitle, cardText1);
            
            var ldsDefaultContainer = createLdsDefaultContainer(vm.id);
            infoContainer.append(img, cardBody, listGroup, cardBody2, ldsDefaultContainer);

            return infoContainer;
        }


        function createVmCard(vm) {
            var vmCard = $('<div>').addClass('card').css('width', '18rem').attr('id', vm.id);
            var cardBody = createVmForm(vm);
            vmCard.append(cardBody);
            return vmCard;
        }

        function getMyUsers() {
            $.ajax({
                type: 'GET',
                url: 'https://api.insa-cvl.com/myusers',
                contentType: 'application/json;charset=UTF-8',
                xhrFields: {
                    withCredentials: true
                },
                success: function (response) {
                    var users = response;
                    usersDiv = $('#users-div');
                    users.forEach(addUserToTable);
                },
                error: function (error) {
                    alert('Erreur d\'obtention d\'informations de mes users');
                }
            });
        }

        $(document).ready(function () {
            getVms();
            getMyUsers();
            $('#addVMOutCard').on('click', function () {
                $("#createVmModal").modal("show");
            });
            $('#addUserButton').on('click', function () {
                $("#createUserModal").modal("show");
            });
        });
    </script>
{% endblock %}
