{% extends 'base.html' %}

{% block title %}Page des Professeurs{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#rubrique1">VMs actives</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#rubrique2">Comptes</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="tab-content">

        <div class="tab-pane" id="rubrique1">
            <h1 class="text-left">Machines virtuelles actives de vos utilisateurs</h1>
            <div class="mt-4">
                <div class="cards d-flex justify-content-start">
                    {% for vm in vms %}
                        <form method="post">
                            <div class="card">
                                <div class="card-body bg-dark text-white">
                                    <input type="hidden" name="vm_name" value="{{ vm.name }}">
                                    <h5 class="card-title">{{ vm.name }}</h5>
                                    <p class="card-text">depuis le <b>{{ vm.template }}</b> template</p>
                                    <p>appartient à: <b>{{ vm.user.name }}</b></p>
                                </div>
                                <button type="submit" name="delete_vm" class="btn btn-danger">Supprimer</button>
                            </div>
                        </form>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="tab-pane" id="rubrique2">
            <h1 class="text-left">Comptes utilisateurs créés</h1>
            <div class="mt-4">
                <div class="cards d-flex justify-content-start">
                    {% for user in users %}
                        <form method="post">
                            <div class="card">
                                <div class="card-body bg-dark text-white">
                                    <input type="hidden" name="username" value="{{ user.username }}">
                                    <h5 class="card-title">{{ user.username }}</h5>
                                    <p class="card-text">contact: <b>{{ user.email }}</b></p>
                                    <button type="button" class="btn btn-info edit-user-button" data-user-id="{{ user.id }}">Modifier mot de passe</button>                            
                                </div>
                                <button type="submit" name="delete_user" class="btn btn-danger">Supprimer</button>
                            </div>
                        </form>
                    {% endfor %}
                    <div class="card" id="addUserCard" style="width: 18rem;">
                        <div class="card-body bg-info text-white">
                            <h5 class="card-title text-center">Créer</h5>
                            <p class="card-text" style="font-size: 36px; text-align: center;"><b>+</b></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal de création de User -->
    <div class="modal fade" id="createUserModal" tabindex="-1" role="dialog" aria-labelledby="createUserModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-dark text-white">
                    <h5 class="modal-title" id="createUserModalLabel">Créer utilisateur</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body bg-dark text-white">
                    <form method="post" id="createUserForm">
                        <div class="form-group">
                            <label for="firstname">Prénom de l'utilisateur :</label>
                            <input type="text" class="form-control" id="firstname" name="firstname" required>
                        </div>
                        <div class="form-group">
                            <label for="lastname">Nom de l'utilisateur :</label>
                            <input type="text" class="form-control" id="lastname" name="lastname" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Adresse électronique :</label>
                            <input type="text" class="form-control" id="email" name="email" required>
                        </div>
                        <button type="submit" name="create_user" class="btn btn-info">Créer utilisateur</button>
                    </form>
                </div>                
            </div>
        </div>
    </div>

    <!-- Modal de modification de mot de passe -->
    <div class="modal fade" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="editUserModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-dark text-white">
                    <h5 class="modal-title" id="editUserModalLabel">Modifier le mot de passe</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body bg-dark text-white">
                    <form method="post">
                        <input type="hidden" name="edit_user_id" id="edit-user-id">
                        <div class="form-group">
                            <label for="new_password">Nouveau mot de passe :</label>
                            <input type="password" class="form-control" id="new_password" name="new_password" required>
                        </div>
                        <button type="submit" name="edit_user_password" class="btn btn-info">Enregistrer</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        function createUser() {
            var firstname = $('#firstname').val();
            var lastname = $('#lastname').val();
            var email = $('#email').val();

            var userData = {
                first_name: firstname,
                last_name: lastname,
                email: email
            };

            $.ajax({
                type: 'POST',
                url: 'https://api.insa-cvl.com/createuser',
                contentType: 'application/json;charset=UTF-8',
                data: JSON.stringify(userData),
                xhrFields: {
                    withCredentials: true
                },
                success: function (response) {
                    console.log(response);
                    alert('Utilisateur créé avec succès! Mot de passe: ' + response.password);
                },
                error: function (error) {
                    console.error(error);
                    alert('Erreur lors de la création de l\'utilisateur.');
                }
            });
        }

        $(document).ready(function () {
            $('#createUserForm').submit(function (event) {
                event.preventDefault();
                createUser();
            });
            $('#addVMOutCard').on('click', function () {
                $("#createVmModal").modal("show");
            });
            $('#addUserCard').on('click', function () {
                $("#createUserModal").modal("show");
            });
        });
    </script>
{% endblock %}
