{% extends 'base.html' %}

{% block title %}Page des Étudiants{% endblock %}

{% block content %}

    <script>
        function checkIfVmAlive(templateId) {
            return new Promise(function (resolve, reject) {
                $.ajax({
                    type: 'GET',
                    url: 'https://api.insa-cvl.com/vm/status/template/' + templateId,
                    contentType: 'application/json;charset=UTF-8',
                    xhrFields: {
                        withCredentials: true
                    },
                    success: function (response) {
                        console.log("VM: " + templateId + ": STATE: " + response.vm_state + " STATUS: " + response.status);
                        if (response.vm_state == "1" && response.status == "ACTIVE") {
                            resolve(1); 
                        } else {
                            resolve(0);
                        }
                    },
                    error: function (error) {
                        reject("Erreur d'obtention d'informations de la VM");
                    }
                });
            });
        }

        async function openVm(templateId) {
            try {
                var output = await checkIfVmAlive(templateId);
                if (output == 1) {
                    redirectToVmViewer(templateId);
                }
            } catch (error) {
                alert(error);
            }
        }

        async function deleteVm(templateId) {
            try {
                var output = await checkIfVmAlive(templateId);
                if (output == 1) {
                    showLoadingModal();
                    $.ajax({
                        type: 'DELETE',
                        url: 'https://api.insa-cvl.com/vm/delete',
                        contentType: 'application/json;charset=UTF-8',
                        data: JSON.stringify({ template_id: templateId }),
                        xhrFields: {
                            withCredentials: true
                        },
                        success: function (response) {
                            hideLoadingModal();
                            location.reload();
                        },
                        error: function (error) {
                            alert('Erreur de suppression de la VM');
                            hideLoadingModal(); 
                        }
                    });
                }
            } catch (error) {
                alert(error);
                hideLoadingModal(); 
            }
        }

        async function getVmStatus(templateId) {
            try {
                var output = await checkIfVmAlive(templateId);
                if (output == 1) {
                    updateButtons(templateId);
                }
            } catch (error) {
                alert(error);
            }
        }

        function updateButtons(templateId) {
            var templateCard = $('#' + templateId);
            var startVmBtn = templateCard.find("#start_vm_btn");
            startVmBtn.text("Ouvrir");
            startVmBtn.attr('onclick', 'openVm(\'' + templateId + '\')');
            startVmBtn.attr('id', "open_vm_btn");
            var space = $('<div style="margin-top: 10px;"></div>'); 
            var deleteBtn = $('<button id="delete_vm_btn" type="button" class="btn btn-danger" onclick="deleteVm(\'' + templateId + '\')">Supprimer</button>');
            templateCard.find(".card-body").append(space, deleteBtn);
        }

        async function createVmFromTemplate(templateId) {
            showLoadingModal(); 
            $.ajax({
                type: 'POST',
                url: 'https://api.insa-cvl.com/vm/create',
                contentType: 'application/json;charset=UTF-8',
                data: JSON.stringify({ template_id: templateId }),
                xhrFields: {
                    withCredentials: true
                },
                success: async function (response) {
                    try {
                        var output = await checkIfVmAlive(templateId);
                        while (output !== 1) {
                            await new Promise(resolve => setTimeout(resolve, 1000));
                            output = await checkIfVmAlive(templateId);
                        }
                    } catch (error) {
                        alert(error);
                        hideLoadingModal(); 
                    }
                    hideLoadingModal(); 
                    location.reload();
                },
                error: function (error) {
                    alert('Erreur de création de la VM');
                    hideLoadingModal(); 
                }
            });
        }

        function redirectToVmViewer(templateId) {
            showLoadingModal();
            $.ajax({
                type: 'GET',
                url: 'https://api.insa-cvl.com/vm/url/template/' + templateId,
                contentType: 'application/json;charset=UTF-8',
                xhrFields: {
                    withCredentials: true
                },
                success: function (response) {
                    console.log(response);
                    hideLoadingModal();
                    var vncUrl = response.url;
                    location.href = vncUrl;
                },
                error: function (error) {
                    alert('Erreur de d\'ouverture de la VM');
                    hideLoadingModal(); 
                }
            })
        }

        $(document).ready(function () {

            function getTemplates() {
                $.ajax({
                    type: 'GET',
                    url: 'https://api.insa-cvl.com/template',
                    contentType: 'application/json;charset=UTF-8',
                    xhrFields: {
                        withCredentials: true
                    },
                    success: function (response) {
                        var templates = response;
                        templatesDiv = $('#templates-div');
                        templates.forEach(function (template) {
                            var template_id = template.id;
                            var card = $('<div class="card" id="'+ template_id + '">');
                            var cardBody = $('<div class="card-body bg-dark text-white">');
                            var form = $('<form method="post" id="templateForm">');
                            form.append('<input type="hidden" name="template_name" value="' + template.name + '">');
                            form.append('<input type="hidden" name="template_id" value="' + template.id + '">');
                            form.append('<h5 class="card-title">' + template.name + '</h5>');
                            if (template.description) {
                                form.append('<p class="card-text">' + template.description + '</p>');
                            }
                            form.append('<button id="start_vm_btn" type="button" class="btn btn-info" onclick="createVmFromTemplate(\'' + template.id + '\')">Démarrer</button>');
                            cardBody.append(form);
                            card.append(cardBody);
                            templatesDiv.append(card);
                            getVmStatus(template_id);
                        });
                    },
                    error: function (error) {
                        alert('Erreur d\'obtention d\'informations de templates');
                    }
                });
            }

            getTemplates();
        });
    </script>

    <div>
        <p id="email">Email: </p>
        <p id="name">Name: </p>
        <p id="surname">Surname: </p>
        <p id="role">Role: </p>
        <p id="id">ID: </p>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#rubrique1">Machines virtuelles disponibles</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="tab-content">
        <div class="tab-pane active" id="rubrique1">
            <div class="mt-4">
                <div id="templates-div" class="cards d-flex justify-content-start"></div>
            </div>
        </div>
    </div>

    <hr>
{% endblock %}
