{% extends 'base.html' %}

{% block title %}Page des Étudiants{% endblock %}

{% block content %}

    <script>
        function createVmFromTemplate(templateId) {
            console.log(templateId);
            $.ajax({
                type: 'POST',
                url: 'https://api.insa-cvl.com/vm/create',
                contentType: 'application/json;charset=UTF-8',
                data: JSON.stringify({ template_id: templateId }),
                xhrFields: {
                    withCredentials: true
                },
                success: function (response) {
                    var responseData = response;
                    alert(responseData);
                },
                error: function (error) {
                    alert('Erreur d\'obtention d\'informations de profil');
                }
            });
        }
        $(document).ready(function () {

            function getUserProfile() {
                $.ajax({
                    type: 'GET',
                    url: 'https://api.insa-cvl.com/profile',
                    contentType: 'application/json;charset=UTF-8',
                    xhrFields: {
                        withCredentials: true
                    },
                    success: function (response) {
                        var user = response;
                        $('#email').text('Email: ' + user.email);
                        $('#name').text('Name: ' + user.first_name);
                        $('#surname').text('Surname: ' + user.last_name);
                        $('#role').text('Role: ' + user.role);
                        $('#id').text('ID: ' + user.id);
                    },
                    error: function (error) {
                        alert('Erreur d\'obtiention d\'informations de profil');
                    }
                });
            }

            function getTemplates() {
                $.ajax({
                    type: 'GET',
                    url: 'https://api.insa-cvl.com/template',
                    contentType: 'application/json;charset=UTF-8',
                    xhrFields: {
                        withCredentials: true
                    },
                    success: function (response) {
                        var templates = response;
                        console.log(templates);
                        templatesDiv = $('#templates-div');
                        templates.forEach(function (template) {
                            var template_id = template.id;
                            var card = $('<div class="card" id="'+ template_id + '">');
                            var cardBody = $('<div class="card-body bg-dark text-white">');
                            var form = $('<form method="post">');
                            form.append('<input type="hidden" name="template_name" value="' + template.name + '">');
                            form.append('<input type="hidden" name="template_id" value="' + template.id + '">');
                            form.append('<h5 class="card-title">' + template.name + '</h5>');
                            if (template.description) {
                                form.append('<p class="card-text">' + template.description + '</p>');
                            }
                            form.append('<button id="start_btn "type="button" class="btn btn-info" onclick="createVmFromTemplate(\'' + template.id + '\')">Démarrer</button>');
                            cardBody.append(form);
                            card.append(cardBody);
                            templatesDiv.append(card);
                        });
                    },
                    error: function (error) {
                        alert('Erreur d\'obtiention d\'informations de templates');
                    }
                });
            }

            getUserProfile();
            getTemplates();
        });
    </script>

    <div>
        <p id="email">Email: </p>
        <p id="name">Name: </p>
        <p id="surname">Surname: </p>
        <p id="role">Role: </p>
        <p id="id">ID: </p>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#rubrique1">Machines virtuelles disponibles</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="tab-content">
        <div class="tab-pane active" id="rubrique1">
            <div class="mt-4">
                <div id="templates-div" class="cards d-flex justify-content-start"></div>
            </div>
        </div>
    </div>

    <hr>
{% endblock %}
