{% extends 'base.html' %}

{% block title %}VNC Viewer{% endblock %}

{% block content %}
        <div id="vncViewerContainer" style="height:90vh"></div>
        <script>
            var active;

            function checkIfVmActive(templateId) {
                $.ajax({
                    type: 'GET',
                    url: 'https://api.insa-cvl.com/vm/active/' + templateId,
                    contentType: 'application/json;charset=UTF-8',
                    xhrFields: {
                        withCredentials: true
                    },
                    success: function (response) {
                        return 1;
                    },
                    error: function (error) {
                        alert('Erreur d\'obtention de l\'id de la VM');
                        return 0;
                    }
                });
            }

            document.addEventListener("DOMContentLoaded", function () {
                function getParameterByName(name, url) {
                    if (!url) url = window.location.href;
                    name = name.replace(/[\[\]]/g, "\\$&");
                    var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                        results = regex.exec(url);
                    if (!results) return null;
                    if (!results[2]) return '';
                    return decodeURIComponent(results[2].replace(/\+/g, " "));
                }

                var templateId = getParameterByName("templateId");
                var vncUrl;
    
                $.ajax({
                    type: 'GET',
                    url: 'https://api.insa-cvl.com/vm/url/template/' + templateId,
                    contentType: 'application/json;charset=UTF-8',
                    xhrFields: {
                        withCredentials: true
                    },
                    success: function (response) {
                        vncUrl = response.url;
                    },
                    error: function (error) {
                        alert('Erreur de d\'ouverture de la VM');
                    }
                })
    
                if (vncUrl) {
                    displayVNCViewer(vncUrl);
                } else {
                    console.error("VNC URL parameter is missing.");
                }

                var intervalId = window.setInterval(function(){
                    active = checkIfVmActive(templateId);
                }, 5000);
            });
    
            function displayVNCViewer(vncUrl) {
                var iframe = document.createElement('iframe');
                iframe.src = vncUrl;
                iframe.width = "100%";
                iframe.height = "100%";
                iframe.style.border = "none";
                document.getElementById('vncViewerContainer').appendChild(iframe);
            }
        </script>
{% endblock %}
