.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 20px;
    padding: 0;
}

.card {
    width: 18rem;
    margin: 10px;
}

body {
    background-color: #333;
    color: white;
}

h1 {
    margin: 20px;
    font-size: 20px;
    text-align: center;
}

h2 {
    font-size: 20px;
    text-align: center;
}

p {
    font-size: 16px;
    color: #666;
}

#addUserCard, #addVMOutCard {
    cursor: pointer;
}

.navbar {
    background-color: #343A40; /* Couleur de la barre de navigation */
}

.navbar-dark .navbar-nav .nav-link {
    color: white; /* Couleur du texte des onglets */
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #17A2B8; /* Couleur du texte des onglets au survol */
}

.nav-item {
    padding: 0 20px; /* Espacement entre les onglets */
}

a {
    color: inherit;
}